* {
    color: #0c0c0c;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

div.wrapper {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

header {
    background-color: #00953b;
    padding: 20px;
}

header h1, header h2 {
    color: white;
    font-weight: bold;
    margin: 0;
}

header h1 {
    font-size: 40pt;
}

div.form {
    padding: 20px;
}

div.form h2 {
    margin-top: 0;
}

div.form section:first-child h2 {
    margin-top: 0;
}

div.form input {
    width: 250px;
    padding: 10px;
    font-size: 20pt;
}

div.form button {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 20pt;
    padding: 10px;
    background-color: #00953b;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

div.form button:active {
    background-color: #008033;
}

div.form button:disabled {
    background-color: #153d25;
    cursor: not-allowed;
}

div.form button.right {
    margin-right: 10px;
}

div.form div#error {
    color: rgb(204, 32, 32);
    font-size: 16pt;
    padding: 10px;
}

div.form div#message {
    font-size: 16pt;
}

.hidden {
    visibility: hidden;
    display: none !important;
}

ul.choices {
    list-style: none;
    padding-left: 0;
    margin-left: 5px;
    border: 3px solid transparent;
    border-radius: 8px;
}

li.choice {
    border: 1px solid #ddd;
    border-bottom: none;
    cursor: pointer;
}

li.choice.ron {
    background-color: rgb(255, 244, 244);
}

li.choice:hover {
    background-color: #eee;
}

li.choice:active {
    background-color: #e6e6e6;
}

li.choice:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

li.choice:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid #ddd;
}

span.rank {
    color: #008033;
    padding: 10px;
    border-right: 1px solid #ddd;
    font-weight: bold;
    display: inline-block;
    width: 10px;
    text-align: center;
}

span.name {
    margin: 10px;
    font-weight: bold;
}

div.form button.clear {
    margin-right: 0;
    font-size: 12pt;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: normal;
    width: auto;
}

ul.complete {
    border-color: #008033;
}

ul.complete li {
    border-color: #008033;
}